shapely
binance-connector
binance-futures-connector
python-binance
binance-historical-data
python-okx
mailtrap
pytz
matplotlib
scikit-learn
bottleneck
pandas
pandas-ta
plotly==5.15.0
kaleido==0.2.1
choreographer
dash
jupyter-dash

ipylab
ccxt
seaborn

redis
cachetools
filelock
mplfinance
dynaconf
tabulate
ipython
ipynbname

torch==2.0.1 
torchvision 
torchaudio

tradingview-ta

psutil
pyspark==3.5.6
pyspark.pandas
numpy==1.26.4
pyarrow
PyArrow
python-dateutil

diskcache
polygon